<section class="card text-center">
<div class="card-body">
    <h3 class="card-title">login</h3>
        <form id="login">
    <div class="card-text">
        <label for="loginUsername">username</label>
        <input type="text" placeholder="insert username" id="loginUsername">
    </div>
    <div class="card-text">
        <label for="loginPassword">password</label>
        <input type="text" placeholder="insert password" id="loginPassword">
    </div>

<button>login</button><br>
<a href="/signup">signup</a>
        </form>
</div>
</section>
<script src="/js/login.js"></script>