<section class="card text-center">
    <div class="card-body">
    <h3 class="card-title">sign up</h3>
    <form id="signup">
        <div class="card-text">
        <label for="signupUsername">username</label>
        <input type="text" placeholder="insert username" id="signupUsername">
        </div>
            <div class="card-text">
            <label for="signupPassword">password</label>
            <input type="text" placeholder="insert password" id="signupPassword">
            </div>
<button>sign up</button>
<a href="/login">login</a>
</form>
    </div>
</section>
<script src="/js/signup.js"></script>