.nav-head{
    display: flex;
}

.card-title {
background-color: transparent;
padding: 4.5px;
border: 1px solid var(--Borders-Font);
}

.card {
background-color: transparent;
border: 1px solid var(--Borders-Font);
margin-bottom: 20px;
}


button {
padding: 4px;
margin: 6px;
border: 1px solid var(--Borders-Font);
}

body, .all-TAs, .card-title, .card h5, .card p {
    color: var(--Borders-Font);
}

label{
    font-size: 18px;
}
